.app-container {
    background-image: url('C:\\Users\\HP\\Downloads\\projectmanagement\\projmantool\\src\\image1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 200vh; /* Ensure the container covers the full viewport height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }
  
  h1 {
    text-align: center;
  }
  